/sarox/dummy_code.py
/sarox/views3.py
/sarox/referal.py
/sarox/api.py
/sarox/google_api.py
# /sarox/apps.py
/App/__pycache__
/sarox/__pycache__
/sarox/migrations/__pycache__
/env
/db.sqlite3
/unnammmed.png
/Techahead_resume.pdf
/VID-20211110-WA0006.mp4
/proenv
/django-422109-0aebaee03d05.json
/client_secret_267084732476-im1h2s37chubijno01ejksscg487ibhl.apps.googleusercontent.com.json