/sarox/dummy_code.py
/sarox/views3.py
/sarox/referal.py
/sarox/api.py
/sarox/google_api.py
# /sarox/pdf
/App/__pycache__
/sarox/__pycache__
/sarox/migrations/__pycache__'
/sarox/migrations
/env
/db.sqlite3
/unnammmed.png
/Techahead_resume.pdf
/VID-20211110-WA0006.mp4
/proenv
/django-422109-0aebaee03d05.json
/django-422609-a2d65a3463fc.json
/storages.backends.s3boto3.S3Boto3Storage